@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color1: #1d1d1d;
  --color2: #1c1b1f;
  --color3: #e3e3e3;
  --color4: #c19d65;
  --color5: #585858;
  --color6: #fd2155;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background: #111111;

  &::-webkit-scrollbar {
    width: 9px;
  }

  &::-webkit-scrollbar-thumb {
    border-left: 0;
    border-right: 0;
    border-radius: 2px;
    background-color: var(--color4);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
  }
}

header {
  height: 100vh;
  overflow: hidden;
  background-image: url("images/HD wallpaper_ black, white, programming, programming language, Python (programming) (1).jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

nav {
  width: 100%;
  height: 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;

  .logo {
    width: 15%;
    height: 100%;
    margin-left: 20px;
    color: var(--color4);
    font-size: 39px;
    @include center;
    font-family: "Dancing Script", cursive;
    cursor: pointer;
  }

  ul {
    width: 70%;
    height: 100%;
    @include center;
    margin-right: 60px;
    column-gap: 5%;

    a {
      width: 10%;
      max-width: 100px;
      min-width: 70px;
      height: 100%;
      @include center;
      color: var(--color3);
      letter-spacing: 0.8px;
      text-transform: capitalize;
      text-decoration: none;
      transition: 0.2s;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -ms-transition: 0.2s;
      -o-transition: 0.2s;
      &:hover {
        border-bottom: 1px solid var(--color4);
      }
      li {
        list-style: none;
        font-size: 15px;
      }
    }
  }
}

/* ---------------------------end nav up------------------------- */
.s-nav {
  width: 100%;
  height: 70px;
  bottom: 0;
  background: #fff;
  position: fixed;
  border-radius: 10px;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 98;
  ul {
    display: flex;
    width: 350px;
    li {
      position: relative;
      list-style: none;
      width: 70px;
      height: 70px;
      z-index: 1;
      a {
        position: relative;
        @include center;
        flex-direction: column;
        width: 100%;
        .icon {
          line-height: 75px;
          font-size: 1.5em;
          color: var(--color2);
          transition: 0.5s;
        }
        .text {
          position: absolute;
          font-size: 0.85em;
          color: var(--color2);
          letter-spacing: 0.06em;
          transition: 0.5s;
          opacity: 0;
          transform: translateY(20px);
        }
      }
      &.active {
        a .icon {
          transform: translateY(-30px);
        }
        a .text {
          opacity: 1;
          transform: translateY(10px);
        }
      }
      @for $numli from 1 through 5 {
        &:nth-child(#{$numli}).active ~ .ind {
          transform: translateX(calc(70px * ($numli - 1)));
        }
      }
    }
  }
  .ind {
    position: absolute;
    width: 70px;
    height: 70px;
    background: var(--color4);
    // border: 6px solid #111111;
    border-radius: 50%;
    top: -50%;
    transition: 0.5s;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 50%;
    //   left: -23px;
    //   width: 20px;
    //   height: 20px;
    //   background: #fff;
    //   border-top-right-radius: 100%;
    //   box-shadow: 0px -10px 0px 0px #111111;
    // }
    // &::after {
    //   content: "";
    //   position: absolute;
    //   top: 50%;
    //   right: -23px;
    //   width: 20px;
    //   height: 20px;
    //   background: #fff;
    //   border-top-left-radius: 100%;
    //   box-shadow: 0px -10px 0px 0px #111111;
    // }
  }
}
/* -----------------------end s-nav (650px)-------------------- */
.svg_header {
  width: 20%;
  height: 20%;
  min-width: 200px;
  height: 20%;
  position: absolute;
  top: 23%;
  right: 8%;
  transform: translate(-50%, -50%);
  animation: "updo" 9s linear infinite;
  -webkit-animation: "updo" 5s linear infinite;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  img {
    width: 100%;
  }
}

@keyframes updo {
  0%,
  100% {
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
  }
  50% {
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
  }
}
/*------------------------end svg image----------------------- */
.hi {
  width: fit-content;
  height: 30%;
  max-width: 400px;
  position: absolute;
  top: 37%;
  left: 20%;
  margin-left: 60px;
  transform: translate(-50%, -50%);
  font-size: 30px;
  text-transform: capitalize;
  letter-spacing: 1px;
  overflow: hidden;
  color: (var(--color1));
  -webkit-text-stroke: 0.6px var(--color3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  p:nth-child(1) {
    color: var(--color3);
    -webkit-text-stroke: 0;
  }
  p:nth-child(3) {
    margin-top: 7px;
    font-size: 0.74rem;
    color: var(--color3);
    -webkit-text-stroke: 0;
  }
}
/* ---------------------------end hi div------------------------- */
.overview {
  position: absolute;
  width: 90%;
  max-width: 500px;
  height: 25%;
  bottom: 1%;
  @include center;
  flex-wrap: wrap;
  gap: 10px;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  div {
    width: 30%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-transform: capitalize;
    font-size: 1rem;
    color: var(--color3);
    background: var(--color1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 0px 5px #111;
    position: relative;
    overflow: hidden;
    row-gap: 0.8rem;
    ion-icon {
      font-size: 1.5rem;
      z-index: 4;
    }
    &:not(.stat):before {
      content: "";
      background-image: linear-gradient(var(--color4), var(--color6));
      width: 50%;
      height: 180%;
      position: absolute;
      animation: rotate 4s linear infinite;
      -webkit-animation: rotate 4s linear infinite;
    }
    &:not(.stat):after {
      content: " ";
      position: absolute;
      inset: 3px;
      background: var(--color1);
    }
    &.stat {
      width: 71%;
      height: 20%;
      font-size: 1.1rem;
    }
    p {
      z-index: 5;
    }
    &.stat p {
      color: var(--color4);
    }
    .change {
      width: fit-content;
      height: fit-content;
      padding: 6px 3px 6px 7px;
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 0.9rem;
      font-weight: 700;
      color: #fff;
      z-index: 7;
      background: var(--color5);
      border-bottom-left-radius: 90%;
      text-align: center;
      &.g {
        color: rgb(0, 255, 0);
      }
      &.r {
        color: red;
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
  }
}
/* ---------------------end overview div -------------------- */
@media (max-width: 650px) {
  header {
    background: #111111;
    nav ul {
      display: none;
    }
    .overview {
      height: 23%;
      bottom: 17%;
      div:not(.stat) ion-icon {
      top:8px;
      left:8px;
      position: absolute;
    }
    }

    .s-nav {
      display: flex;
    }
    aside {
      visibility: hidden;
    }
    .svg_header {
      top: 38%;
      left: 28%;
      width: 35%;
    }
    .hi {
      top: 28%;
      left: 50%;
      margin-left: 0;
      transform: translate(-50%, -50%);
      font-size: 29px;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
  }
}
/* ---------------------------end header------------------------- */
.section2,
.section3,
.section4 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  .text_about {
    width: 45%;
    height: fit-content;
    @include center;
    flex-direction: column;
    row-gap: 50px;
    color: var(--color3);
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    line-height: 25px;
    position: relative;
    .button {
      position: absolute;
      width: fit-content;
      height: 35px;
      padding: 5px 10px;
      background: var(--color6);
      color: var(--color3);
      font-size: 14px;
      cursor: pointer;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      bottom: -2px;
    }
    p {
      width: 95%;
      max-width: 350px;
      height: fit-content;
      border-left: 2px solid var(--color4);
      padding-left: 7px;
    }
  }
  .svg_about {
    width: 40%;
    height: 85%;
    margin-right: 5px;
    @include center;
    position: relative;
    animation: "updo" 6s linear infinite;
    -webkit-animation: "updo" 7s linear infinite;
    img:nth-child(2) {
      width: 170%;
      height: 170%;
      max-width: 500px;
      max-height: 500px;
      position: absolute;
      z-index: -1;
      margin-left: -10%;
    }
    img:nth-child(1) {
      position: absolute;
      width: 30%;
      min-width: 200px;
      max-width: 400px;
    }
  }
  .smile {
    width: 100%;
    height: fit-content;
    @include center;
    top: 9px;
    position: absolute;
    div {
      height: 100%;
      width: 100%;
      @include center;
      column-gap: 20px;
      color: var(--color5);
      font-size: 1.3rem;
      ion-icon {
        font-size: 1.4rem;
        color: var(--color6);
        animation: "smile" 0.7s linear infinite;
        -webkit-animation: "smile" 0.7s linear infinite;
      }
    }
    .hr {
      width: 20%;
      height: 1px;
      background: var(--color5);
    }
  }
}

.section2 .text_about .button,
.section4 .text_about .button {
  background: var(--color4);
}

.up_to_home {
  width: 40px;
  height: 40px;
  font-size: 20px;
  position: fixed;
  z-index: 99;
  background: var(--color5);
  bottom: 1%;
  right: 1%;
  @include center;
  color: var(--color3);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
@keyframes smile {
  0%,
  100% {
  }
  50% {
    filter: drop-shadow(0 0 5px var(--color6))
      drop-shadow(0 0 8px var(--color6));
  }
}

@media (max-width: 650px) {
  .section2,
  .section3,
  .section4 {
    flex-direction: column;
    .svg_about {
      width: 90%;
      height: 40%;
    }
    .text_about {
      width: 90%;
      height: 40%;
      line-height: 25px;
      row-gap: 20px;
    }
  }

  .section3 {
    .svg_about {
      order: 2;
    }
    .text_about {
      order: 1;
    }
  }
  .section2 .text_about .button {
    bottom: -30px;
  }

  .up_to_home {
    display: none;
  }
}
/* -------------------------end section2 about------------------- */
.section3 {
  .text_about p {
    border-left: 2px solid var(--color6);
  }
  .svg_about img:nth-child(1) {
    width: 40%;
    min-width: 200px;
    max-width: 600px;
  }
  .svg_about img:nth-child(2) {
    width: 150%;
    height: 150%;
    z-index: -1;
    margin-left: -1%;
  }
}
/* -------------------------end section3 roadmap ------------------- */
.section4 .svg_about img:nth-child(1) {
  margin-left: 25px;
}
/* -------------------------end section4 skills------------------- */
// This part has been applied by tailwind
.section5 {
  // height: 100vh;
  background-image: url("images/blob-scene-haikei (2).svg");
  // background-size: cover;
  // background-position: center;
  // @include center;
  // flex-direction: column;
  // text-transform: capitalize;
  // font-size: 1.2rem;
  // .text {
  //   width: fit-content;
  //   height: 10%;
  //   color: var(--color3);
  }
  .soon {
  //width: fit-content;
  //height: fit-content;
  //padding: 10px 20px;
  //background: var(--color6);
  //color: var(--color3);
  border-radius: 5px;
  animation: "smile" 1s linear infinite;
  -webkit-animation: "smile" 1s linear infinite;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
@media (max-width: 767px) {
  .section5 {
    background-image: none;
  }
}
/* -------------------- end section5 projects----------------- */
footer {
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: capitalize;
  div {
    @include center;
    flex-direction: column;
    color: var(--color3);
    font-size: 1rem;
  }
  .email_fan {
    height: 90%;
    width: 30%;
    max-width: 320px;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    row-gap: 15px;
    font-size: 0.8rem;
    .email {
      row-gap: 30px;
      flex-direction: column;
    }
    input {
      width: 100%;
      height: 30px;
      padding: 5px;
      outline: none;
      border: 1px solid var(--color5);
      background: var(--color1);
      color: var(--color6);
    }
    .privacy {
      width: 100%;
      height: fit-content;
      color: var(--color5);
      word-spacing: 2px;
      text-align: center;
      display: flex;
      flex-direction: column;
      row-gap: 8px;
    }
  }
  div:nth-child(2) {
    width: 60%;
    height: 80%;
  }
  .menu {
    width: 100%;
    height: 45%;
    ul {
      width: 95%;
      max-width: 600px;
      height: fit-content;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 20px;
      li {
        width: 20%;
        height: 30px;
        max-width: 90px;
        min-width: 80px;
        list-style: none;
        background: var(--color5);
        @include center;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        &:hover {
          background: var(--color6);
        }
        a {
          text-decoration: none;
          color: var(--color3);
        }
      }
    }
  }
  .connect {
    width: 90%;
    height: 45%;
    ul {
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      row-gap: 20px;
      li {
        list-style: none;
        display: flex;
        column-gap: 10px;
        align-items: center;
        a {
          text-decoration: none;
          color: var(--color4);
        }
        ion-icon {
          font-size: 20px;
          color: var(--color6);
        }
      }
    }
  }
}
@media (max-width: 767px) {
  footer {
    div:nth-child(2) {
      flex-direction: row;
    }
    .menu ul {
      flex-direction: column;
    }
  }
}

@media (max-width: 400px) {
  footer {
    .email_fan {
      width: 45%;
    }
    div:nth-child(2) {
      width: 45%;
    }
    .menu {
      display: none;
    }
  }
}
/* -------------------- end footer----------------- */
.end {
  @include center;
  height: 50vh;
  margin-bottom: 100px;
  p {
    width: 90%;
    color: var(--color3);
    text-align: center;
    font-size: 18px;
    text-transform: capitalize;
    line-height: 35px;
    letter-spacing: 1px;
    span {
      text-transform: uppercase;
      color: var(--color6);
    }
  }
}
